img {
	max-width: 100%;
	display: block;
	padding: 0;
	margin: 0;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	max-width: 95%;
	padding: 5px 0;
	margin: 0;
}
input {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	color: #AAAAAA;
	width:95%;
	padding: 10px 5px;
	margin: 5px 0;
}
input.checkbox {
  width: 15px;
  height: 15px;
  padding: 0;
  margin:0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
select {
 	font-family: 'Montserrat', sans-serif;
 	font-size: 0.9em;
 	padding: 1px 5px;
	margin:0;
}
button {
 	font-family: 'Montserrat', sans-serif;
 	font-size: 0.9em;
 	padding: 5px 5px;
	margin: 5px 0;
}
table {
	border-collapse: collapse;
}
td {
	padding: 15px;
	border: 1px solid #AAAAAA;
	background-color: #ffffaa;
	width: 14.3%;
}
span {
	padding: 5px 0;
}
.calendar{
	width:100%;
	margin:auto;
	text-align:center;
	font-size: 0.9em;
  position: absolute;
  background-color: #ffffaa;
}
div.left-half {
	float:left;
	text-align: left;
	width:48%;
}
div.right-half {
	float:right;
	text-align: right;
	width:48%;
}
div.mid {
	float:left;
	text-align: left;
	width:100%;
}
.pop-grn {
	background-color: #47e5a8;
	color: #ffffff;
}
.dayNames {
	font-weight: bold;
	background-color: #ffffff;
}
.container {
  margin: auto;
	width: 511px;
	height: 1000px;
	position: relative;
}
.screen {
	float: left;
	position: absolute;
	left: 42px;
	right: 38px;
	top: 178px;
	bottom: 174px;
	z-index: 1000;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
.center {
	margin: auto;
	width: 95%;
	padding: 10px;
}
